
.menu{
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: stretch;
   position: fixed;
   top: 60px;
   left: 0;
   width: 100%;
   height: 25px;
   margin: 0;
   padding: 0;
   background-color: #444;
   list-style: none;
   z-index: 1000;
}

.menu__item{
   display: flex;
   align-items: stretch;
   height: 100%;
   transition: 0.3s;
}
.menu__a{
   display: block;
   text-decoration: none;
   color: #aaa;
   padding: 0 10px;
}   
.menu__a:hover{
  background-color: #606060;
}   
.menu__item_active .menu__a{
   color: #fff;
}   